*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("/images/katha.jpg");
    background-size: cover; 
}
header{
    background-image: linear-gradient(to right,white,green,blue);
    
}  
h1{
    color:black;
    position:absolute;
    left:100px;
     top:10px;
   
   }

nav a{
    text-decoration: none;
    display:inline-block;
    font-family:Arial, Helvetica, sans-serif;
    width: 14%;
    min-width: 65px;
/*    best for zoom 100%*/
    margin: 0 3% 2% 3%;
/*    best for zoom 125%*/
/*    margin: 0% 2% 2% 2.2%;*/
    padding: 1.5%;
    text-decoration:style;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-weight: bold;
}
.active, a:hover{
    color: #EA72F6;
    background-color:#37062E;
}

.left{
    display: inline-block;
    width: 20%;
    height: 77vh;
    float: left;
    background-color: #D30971;
    overflow: auto;
}

.right{
   
    display: inline-block;
    width: 75%;
    height: 70vh;
    float: left;
    margin-left: 1%;
    overflow: auto;
}


.left img{
    display: block;
    width: 80%;
    border: solid 2px #000000;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 12%;
    margin-bottom: 12%;
}
.left img:hover{
    opacity:.2;
}
p{
    color:white;
    font-weight:bold;
    font-size: 1.5em;
    margin-left: 2em;
}
h2{
    font-size: 2em;
    color:darkmagenta;
    text-decoration: underline;
    text-align: center;
    font-weight:bold;
}