<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kerala tourism</title>
	<link rel="stylesheet" type="text/css" href="../static/css/page2.css">

</head>

<body>

	<header>
        <img src="../static/images/kerala-logo-26566D9734-seeklogo.com.png" alt="logo">
          <h1>KERALA TOURISM</h1>
        <br><br><br>
        
        <nav>
			<a href="/">HOME</a>
			<a href="template" class = "active">ABOUT</a>
			<a href="tourist">TOURIST PLACES </a>
			<a href="feedback">FEEDBACK</a>
		</nav>
	</header>
		<main>
			<aside class = "left">
			<a href="festival"><img src="../static/images/festivals3_Kerala_TI.jpg" alt="festival"> </a>

			<a href="dance"><img src="../static/images/Festivals-of-Kerala.jpg" alt="Folk Dance and Music"></a>


			<a href="food"><img src="../static/images/Ela-Sadya.jpg"></a>
		</aside>
			<section class = "right">
				<h2>Kerala-Our God's Own Country </h2><br><br>
			<p> Etymologically, the word ‘Kerala’ could be interpreted in a number of different ways but for its natives, the Malayalis, the name of this land is ‘Keralam’. This word could either be a fusion of two Malayali words ‘kera’ meaning coconut tree and ‘alam’ meaning land or location, or could alternatively have originated from the phrase ‘chera alam’, the land of the Cheras. Its veracity as being a rich production ground for spices was established as early as 3000 BC when this land was referred to by Emperor Ashoka as Keralaputra. Although spice trade is still a major source of income for the state, over the years the focus has shifted to backwaters, greenery and Ayurvedic heritage as the main themes of marketing.<br><br>

                Sandwiched between the Lakshadweep Sea and the Western Ghats, Kerala experiences equatorial tropic climate implying 120 to 140 days of incessant downpour courtesy of the southwest summer monsoon. While the quantity of rainfall varies in accordance with the area, overall it could be described as featuring a wet and dry climate which is neither too hot in summers nor too cold in winters. The entire state could be segregated into three climatic regions based on its topography namely the cool mountainous regions occupying the east, the rolling hills playing the role of the central midlands and the coastal plains bringing up the west.<br><br>
                
                
	</section>
</main>
</body>
</html>