<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kerala tourism</title>
	<link rel="stylesheet" type="text/css" href="../static/css/dance.css">

</head>

<body>

	<header>
        <img src="../static/images/kerala-logo-26566D9734-seeklogo.com.png" alt="logo">
          <h1>KERALA TOURISM</h1>
        <br><br><br>

        <nav>
			<a href="/">HOME</a>
			<a href="template" class = "active">ABOUT</a>
			<a href="tourist">TOURIST PLACES </a>
			<a href="feedback">FEEDBACK</a>
		</nav>
	</header>
		<main>
			<aside class = "left">
			<a href="festival"><img src="../static/images/festivals3_Kerala_TI.jpg" alt="festival"> </a>

			<a href="dance"><img src="../static/images/Festivals-of-Kerala.jpg" alt="Folk Dance and Music"></a>


			<a href="food"><img src="../static/images/Ela-Sadya.jpg"></a>
		</aside>
			<section class = "right">
                        <h2>Folk Dance and Music</h2><br><br>
			<p>The folk dance of Kerala consists of the Kaikotti Kali dance, Kuthiyottam dance, Tiruvathira Dance, Thirayattam dance, Kakkarissi Kali, etc.   Kanniyar Kali (also known as Desathukali) is a dance done in front of Goddess Bhagvaty. It is one of the oldest folk dances. It is a fast-moving dance to the rhythmic devotional folk tune. Kaikotti Kali folk dance (also known, as Thiruvathirakali) is performed by women of Kerala by dancing in symmetric circles. It is often performed during festive seasons like Thiruvathira and Onam.<br><br>
                           Women sing Thiruvathira songs, which are full of literary wealth. The women dance gracefully and move in clockwise and anti-clockwise circles while clapping their hands. Kuthiyottam Dance is popular in the district of Thiruvananthapuram and is performed in temples in front of deities. There are 4 participants in the dance. The songs are sung during the dance are Padapattu and Kalaripattu. Thirayattom dance is performed during the festival of kavus. The dance includes the use of torches. The Kuravas folk from the Thiruvananthapuram district perform the Kakkarissi Kali. This dance involves a lot of enthusiasm from its participants.<br><br>
                          
                        </p>
	</section>
</main>
</body>
</html>