<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kerala tourism</title>
	<link rel="stylesheet" type="text/css" href=".../static/css/festival.css".../static/>

</head>

<body>

	<header>
        <img src=".../static/images/kerala-logo-26566D9734-seeklogo.com.png" alt="logo">
          <h1>KERALA TOURISM</h1>
        <br><br><br>
        
        <nav>
			<a href="/">HOME</a>
			<a href="about" class = "active">ABOUT</a>
			<a href="tourist">TOURIST PLACES </a>
			<a href="feedback">FEEDBACK</a>
		</nav>
	</header>
		<main>
			<aside class = "left">
				<a href="festival"><img src=".../static/images/festivals3_Kerala_TI.jpg" alt="festival"> </a>

				<a href="dance"><img src=".../static/images/Festivals-of-Kerala.jpg" alt="Folk Dance and Music"></a>
	
	
				<a href="food"><img src=".../static/images/Ela-Sadya.jpg"></a>
		</aside>
			<section class = "right">
                        <h2>Festivals of Kerala</h2><br><br>
			<p> Onam is a 10-day harvest festival celebrated in Kerala in the month of August - September. The festival is celebrated with grandeur. There are fairs and contests for people to indulge in. The floors are decorated with flower designs; there are dances for celebration and a snake boat race (Aranmula Boat Race) contest called Vallamkali is also carried out. The tenth or the last day of Onam is said to be most important and is one of the most popular manifestations of Culture of Kerala.<br><br>
                           Vishu is the New Year for the Keralites. The first month is called Medam, which usually comes around April. Vishukani are the various offerings made to Lord Krishna on this day.'Vishu Pulari' is a ritual of waking up early in the morning and seeing God's face first. On this day, the elders give their children some form of a gift.<br><br>
                           Thrissur Pooram is celebrated in the month of Medam. It is a festival of the temples in which two traditional groups called Thiruvambai and Paramekkavu compete against each other and showcase their best in the contest by clothing their elephants in beautiful garments and having different huge umbrellas.<br>
                        </p>
	</section>
</main>
</body>
</html>