<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kerala tourism</title>
	<link rel="stylesheet" type="text/css" href="../static/css/food.css">

</head>

<body>

	<header>
        <img src="../static/images/kerala-logo-26566D9734-seeklogo.com.png" alt="logo">
          <h1>KERALA TOURISM</h1>
        <br><br><br>

        <nav>
			<a href="/">HOME</a>
			<a href="template" class = "active">ABOUT</a>
			<a href="tourist">TOURIST PLACES </a>
			<a href="feedback">FEEDBACK</a>
		</nav>
	</header>
		<main>
			<aside class = "left">
			<a href="festival"><img src="../static/images/festivals3_Kerala_TI.jpg" alt="festival"> </a>

			<a href="dance"><img src="../static/images/Festivals-of-Kerala.jpg" alt="Folk Dance and Music"></a>


			<a href="food"><img src="../static/images/Ela-Sadya.jpg"></a>
		</aside>
			<section class = "right">
                        <h2>Food of Kerala</h2><br><br>
			<p> The food of Kerala consists of a wide variety of vegetarian and non-vegetarian food. The food consists of fish, meat, poultry and rice preparations. Kerala food is loaded with many spices as well. Kerala Sadya is a banquet meal prepared during functions and festivals. Coconut is grown in abundance in Kerala. Hence they use coconut oil and milk in thickening flavours. Kerala food consists of many rice preparations like idli, dosa, etc. which are made from a batter prepared from rice. Chillies, curry leaves, mustard seeds, turmeric powder and asafoetida, are all frequently used.
                        </p>
	</section>
</main>
</body>
</html>