<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kerala tourism</title>
	<link rel="stylesheet" type="text/css" href="../static/css/page1.css"/>

</head>

<body>

	<header>
        <img src="../static/images/kerala-logo-26566D9734-seeklogo.com.png" alt="logo">
          <h1>KERALA TOURISM</h1>
        <br><br>
        
        <nav>
			<a href="/" class = "active">HOME</a>
			<a href="about">ABOUT</a>
			<a href="tourist">TOURIST PLACES </a>
			<a href="feedback">FEEDBACK</a>
		</nav>
	</header>
	<div class="para">
	<h2>Welcome To Kerala Tourism!</h2><br>
	<marquee scrollamount="15"><h6>This is a website for you to know more about kerala and its tourist places...</h6></marquee>
    </div>
	</body>
	</html>