<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kerala tourism</title>
	<link rel="stylesheet" type="text/css" href="../static/css/submit.css">
</head>

<body>

	<header>
        <img src="../static/images/kerala-logo-26566D9734-seeklogo.com.png" alt="logo">
          <h1>KERALA TOURISM</h1>
        <br><br>
        
        <nav>
			<a href=/">HOME</a>
			<a href=about">ABOUT</a>
         <a href=tourist">TOURIST PLACES </a>
			<a href=feedback" target="_blank">FEEDBACK</a>
		</nav>
   </header>
   <h2>Thank you for your response.....</h2>
