<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kerala tourism</title>
	<link rel="stylesheet" type="text/css" href="../static/css/tourist.css"/>

</head>

<body>

	<header>
        <img src="../static/images/kerala-logo-26566D9734-seeklogo.com.png" alt="logo">
          <h1>KERALA TOURISM</h1>
        <br><br>
        
        <nav>
			<a href="/">HOME</a>
			<a href="about">ABOUT</a>
         <a href="tourist" class = "active">TOURIST PLACES </a>
			<a href="feedback">FEEDBACK</a>
		</nav>
   </header>
   <h2>TOP TOURIST PLACES IN KERALA</h2>
 <div class="para">
      <div class="box">
         <img src="../static/images/Kumarakom.jpg">
      <h3>KUMARAKOM</h3><br>
      <p>
         The village of Kumarakom is a cluster of little islands on the Vembanad Lake,and is part of the Kuttanad region. The bird sanctuary here, which is spread across 14 acres is a favourite haunt of migratory birds and an ornithologist's paradise. Egrets, Darters, Herons, Teals, Waterfowls, Cuckoo, Wild Duck and migratory birds like the Siberian Stork visit here in flocks and fascinate all visitors.
         </span>
      </p>
     
   </div>
   <div class="box">
      <img src="../static/images/Marari.jpg">
      <h3>MARARI BEACH</h3><br>
      <p>
         Mararikulam is connected by rail and has a railway station by the same name. It is also well connected by road. NH 66 passes through S.L.Puram, which is 5 km to the east of Mararikulam. Nearest airport is Cochin International Airport. It was rated as one of the worlds top five HAMMOCK BEACH by National Geographic survey
      </p>
      
   </div>
      <div class="box">
         <img src="../static/images/Nelliampathy.jpg">
      <h3>NELLIAMPATHY</h3><br>
      <p>
         From the town of Nenmara in Palakkad district, the cloud-caressed peaks of the majestic Nelliyampathy Hill ranges are a sight to behold. The height of the hills ranges from approximately 467 m to 1572 m and it has an extremely calming effect on all who view it. To reach Nelliyampathy, one has to take the road starting from Nenmara that proceeds to the Pothundy Dam. 
      </P>
      
   </div>

   <div class="box">
      <img src="../static/images/Vagamon.jpg">
   <h3>VAGAMON</h3><br>
   <p>
      Vagamon is a hill station located in Kottayam- Idukki border of Kerala. It has a cool climate with the temperature between 10-23°C during a summer midday. It is situated 1,100 metres above sea level.

      Vagamon is a tiny plantation township in Central Travancore, Vagamon has an overtone of green. With a never-ending line of lush green hills, breathtaking ravines and meandering rivulets.
   </p>
   
</div>
<div class="box">
   <img src="../static/images/worlds-largest-bird-sculpture.jpg">
<h3>JADAYUPARA</h3><br>
<p>
   The world’s largest bird sculpture and within it a rock theme park for adventure enthusiasts is what today pays tribute to the mythical bird from the Indian epic Ramayana – Jatayu.

   Legend has it that Jatayu tried to save Sita (wife of Lord Rama) when Ravana, a demon king, was abducting her in his airborne chariot. Jatayu is said to have fought valiantly and fallen on these rocks, grievously injured.
   
   
</p>

</div>
<div class="box">
   <img src="../static/images/unnamed.jpg">
<h3>THEKKADY</h3><br>
<p>
   Thekkady in Kerala State, India's largest wildlife sanctuary is a dream destination for any tourist visiting India. The 120 years old 'Surki' dam built across Peryiar, Poorna in Vedic parlance, is a major tourist attraction. This sanctuary is spread over an area of 777 Sq.Kms, surrounded by an artificial lake over an area of 25 Sq.Kms.
</p>

</div>
</div>

</body>
</html>